@import "@scss/logic";

.articleTopImage {
	width: 100%;
	height: 40vh;

	@include media-breakpoint-up(md) {
		height: 60vh;
	}
}

.author {
	margin-top: -0.7em; //TODO -> hmm
	font-style: italic;
	font-weight: 500;
}
