@import "@scss/logic";

.articleTopImage {
	width: 100%;
	height: 60vh;

	@include media-breakpoint-down(md) {
		height: 40vh;
	}
}

.subtitle {
	font-size: 1.1em;
}

.date {
	font-style: italic;
}

.author {
	// font-style: italic;
	font-weight: 500;
}
