:root{
	--nav-height: 65px;
	--transition: 0.2s;
	--border-radius: 4px;
}

/**
*
*	MAIN LAYOUT
*
**/
body{
	margin: 0;
}
.container{
	margin-top: var(--nav-height);
	padding: 20px;
	max-width: 1200px;
}

.longText{
	white-space: pre-line;
}


@media(min-width: 400px){
	.container{
		width: 100%;
	}
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
}


/**
*
*	HOMEPAGE
*
**/
.featuredImage{
	display: flex;
	align-items: flex-end;
	margin-top: var(--nav-height);
	background-size: cover;
	background-position: center;
	height: calc(80vh - var(--nav-height));
}

.featureTitle{
	background-color: black;
	color: white;
	width: fit-content;
	padding: 10px;
	margin: 20px;
	font-size: 1.5em;
}

.featuredReleases{
	margin: 20px;
}

/**
*
*	ARTISTS
*
**/
.artists{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 15px;
}

.artist{
	height: 220px;
	padding: 10px;

	background-size: cover;
	background-position: center;

	display: flex;
	align-items: end;
	justify-content: left;
	
	transition: var(--transition);
}

.artist .name{
	background-color: black;
	color: white;
	font-size: 1.5em;
	padding: 0px 5px;
	line-height: 1.2em;
}

.artist:hover{
	cursor: pointer;
}

@media(min-width: 700px){
	.artists{
		grid-template-columns: repeat(3, 1fr);
	}
}

/**
*
*	FOOTER
*
**/

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 15px;
}

.footer a{
	color: black;
}