@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans/woff2/WorkSans-Light.woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans/woff2/WorkSans-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans/woff2/WorkSans-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans/woff2/WorkSans-SemiBold.woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}