@import "@scss/logic";

.image {
    width: 100%;
    height: 60vh;

    @include media-breakpoint-down(md) {
        height: 40vh;
    }
}

.subtitle {
    font-size: 1.1rem;
}

.date {
    font-style: italic;
}

.author {
    font-weight: 500;
}