.subscribe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.subscribeForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribeForm input,
.subscribeForm button {
    margin-bottom: 0;
}

.status {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    border-radius: 4px;
}

.status.valid {}

.status.invalid {}

.status ul li {
    list-style: none;
}

@media(min-width: 700px) {
    .subscribe {
        flex-direction: row;
    }
    
    .subscribeForm {
        flex-direction: row;
    }
}