.artistImage {
    object-fit: cover;
    height: 40vh;
}

.artistInfo p {
    font-size: 1em;
    white-space: pre-line;

}

@media(min-width: 700px) {
    .artistBio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .artistReleases {
        grid-column: 1/3;
    }

    .artistImage {
        height: 50vh;
        max-height: 90%;
        width: 90%;
    }
}