.socialLinks {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.socialLinks a {
    color: black;
}

.socialLinks a:hover {
    color: #0FA0CE;
}

@media(min-width: 700px) {
    .socialLinks {
        margin: 0px;
    }
}