/**
*   From https://www.embla-carousel.com/
**/
.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}


/**
*   Extra button controls
**/
.embla__viewport {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
}

.arrow:hover {
    cursor: pointer;
}

.prev {
    left: 20px;

}

.next {
    right: 20px;
}