@import "@scss/logic";

/**
 * From https://www.embla-carousel.com/
 */
.embla {
    overflow: hidden;
    position: relative;
    background-color: var(--fallback-image-color);

    &__container {
        display: flex;
    }

    &__slide {
        flex: 0 0 100%;
        min-width: 0;
    }

    /**
     * Extra button controls
     */
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        overflow: hidden;
        cursor: pointer;
        padding: 8px;

        color: #fffb;

        @include hover-active-swap-focus-visible {
            color: white;
            transition: color var(--transition-fast);

            &::after {
                opacity: 0.85;
                transition: opacity var(--transition-fast);
            }
        }

        @include media-breakpoint-down(md) {
            padding: 6px;

            svg {
                $size: 30px;
                width: $size;
                height: $size;
            }
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            background-color: black;
            opacity: 0.6;
        }
    }

    .prev {
        left: 20px;
    }

    .next {
        right: 20px;
    }
}
