@import "@scss/logic";

.artistGrid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);

    @include media-breakpoint-down(xxl) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}