@import "@scss/logic";

.subtitle.subtitle {
    font-size: 1.4rem;
}

.date {
    font-style: italic;
    margin-bottom: 1rem;
}

.venue {
    font-weight: 500;
}

.book {
    align-self: flex-end;
    margin-top: 2rem;

    @include media-breakpoint-down(md) {
        align-self: unset;
    }
}