@use "@scss/logic" as *;

.release {
    position: relative;
    display: flex;

    @include hover-active-swap-focus-within {
        .releaseOverlay {
            opacity: 1;
        }
    }
}

.releaseImage {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

.releaseOverlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity var(--transition);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;

    @media (max-width: 768px) {
        opacity: 1;
    }

    .releaseTitle {
        font-weight: 600;
        font-size: 1.5em;
    }

    .releaseArtist {
        font-size: 1.1em;
        font-weight: 300;
    }

    .releaseLink {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1em;
    }
}
