.artistsPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artists {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 240px;
    grid-auto-rows: 240px;
    gap: 15px;
}

.inactive a {
    filter: opacity(0.6);

}

.inactive a:hover {
    filter: opacity(1);

}

@media(min-width: 700px) {
    .artists {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 240px;
        grid-auto-rows: 240px;
    }
}