.container {
	position: relative;
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 20px;

	@media (max-width: 768px) {
		width: 100%;
		padding: 20px;
	}
}

.container-fluid {
	position: relative;
	width: 100%;
	padding: 30px 20px;

	@media (max-width: 768px) {
		padding: 20px;
	}
}

.overlay-text {
	--overlay-text-padding: 10px;
	padding: var(--overlay-text-padding);
	background-color: black;
	color: white;
	font-weight: 500;

	@media (max-width: 992px) {
		padding-bottom: calc(var(--overlay-text-padding) - 2px);
	}

	&--small {
		--overlay-text-padding: 5px;
	}
}

.button-black {
	@extend .overlay-text;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	transition:
		color var(--transition-fast),
		background-color var(--transition-fast);

	@include hover-active-swap-focus-visible {
		color: #0fa0ce;
		background-color: #333;
	}

	svg {
		font-size: 1.5em;
	}
}
