.articleTopImage {
	width: 100%;
	/* object-fit: cover; */
	object-position: center;
	height: 40vh;
}

@media(min-width: 700px) {
	.articleTopImage {
		height: 60vh;
	}
}

.author {
	margin-top: -0.7em;
	font-style: italic;
}

.articleContent {
	font-family: sans-serif;
	font-size: 1.3em;
}