.articleTopImage {
	width: 100%;
	margin-top: var(--nav-height);
	object-fit: cover;
	object-position: center;
	height: calc(40vh - var(--nav-height));
}

@media(min-width: 700px) {
	.articleTopImage {
		height: calc(60vh - var(--nav-height));
	}
}

div.article {
	margin-top: 0;
	white-space: pre-line;
}

.author {
	margin-top: -0.7em;
	font-style: italic;
}

.articleContent {
	font-size: 1.3em;
}