@import "@scss/logic";

.tile {
	display: flex;
	gap: 15px;
	border-bottom: 1px solid lightgray;
	padding: 20px 0px;
	color: black;

	&:first-child {
		padding-top: unset;
	}

	&:last-child {
		border-bottom: unset;
		padding-bottom: unset;
	}

	@include media-breakpoint-down(md) {
		flex-direction: column;
	}

	// @include media-breakpoint-down(sm) {
	// 	gap: 10px;
	// }

	&.noBook .thumbnail {
		filter: grayscale(1) opacity(0.7);
	}
}

.content {
	flex-grow: 1;
	display: flex;
	gap: 15px;

	@include media-breakpoint-down(sm) {
		gap: 12px;
	}
}

.thumbnail {
	aspect-ratio: 1/1;
	height: 100px;

	@include media-breakpoint-down(md) {
		height: 80px;
	}
}

.details {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 3px;
	font-size: 1.2em;

	@include media-breakpoint-down(md) {
		font-size: 1.1em;
	}

	@include media-breakpoint-down(sm) {
		font-size: 1em;
	}
}

.title {
	font-size: 1.6em;
	font-weight: 600;

	@include media-breakpoint-down(md) {
		font-size: 1.3em;
	}
}

.date {
	font-weight: normal;
}

.options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	@include media-breakpoint-down(md) {
		flex-direction: unset;
	}

	> * {
		width: 100%;
		padding: 0 40px;
		margin-bottom: unset;

		@include media-breakpoint-down(lg) {
			padding: 0 15px;
		}
	}
}
