:root {
  --nav-height: 65px;
  --transition: 0.2s;
  --border-radius: 4px;
}

/**
*
*	MAIN LAYOUT
*
**/
body {
  margin: 0;
}

.container {
  margin-top: var(--nav-height);
  padding: 20px;
  max-width: 1200px;
}

.longText {
  white-space: pre-line;
}

@media(min-width: 400px) {
  .container {
    width: 100%;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3em;
}