:root {
    --transition: 200ms ease-in-out;
    --border-radius: 4px;
    --button-color: #33C3F0;
    --fallback-image-color: #e8eef0;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/helveticaneue.ttf');
}

/**
*
*	MAIN LAYOUT
*
**/

* {
    box-sizing: border-box;
    word-break: break-word;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    margin: 0;
}

form {
    margin-bottom: unset;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

@media(min-width: 400px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

img {
    max-width: 100%;

    /* TODO -> this might explode things */
    /* IF YOU DO REMOVE THIS, SEARCH ALL FILES FOR COMMENTED OUT `object-fit: cover`s!! */
    object-fit: cover; 
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3em;
}