.carousel {
    margin-bottom: unset;
}

.feature {
    position: relative;
    display: flex;
    height: 70vh;

    @media (max-width: 992px) {
        height: 60vh;
    }
}

.featureImage {
    width: 100%;
    height: 100%;
}

.featureTitle {
    position: absolute;
    bottom: 0;
    margin: 20px;
    font-weight: 600;
    font-size: 1.5em;
}

.featuredReleases {
    padding-top: 20px;
}
