.featuredImage {
    display: flex;
    align-items: flex-end;
    margin-top: var(--nav-height);
    background-size: cover;
    background-position: center;
    height: calc(70vh - var(--nav-height));
}

.featureTitle {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    margin: 20px;
    font-size: 1.5em;
}

.featuredReleases {
    margin: 20px;
}

@media(min-width: 700px) {
    .featuredImage {
        height: calc(80vh - var(--nav-height));
    }
}

/**
*   For Embla carousel
*
**/
.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__viewport {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
}

.arrow:hover {
    cursor: pointer;
}

.prev {
    left: 20px;

}

.next {
    right: 20px;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}