@import "@scss/logic";

.carousel {
    margin-bottom: unset; //override section styles
}

.feature {
    position: relative;
    display: flex;
    height: 70vh;

    @include hover-active-swap-focus-visible {
        text-decoration: none;
    }

    @include media-breakpoint-down(lg) {
        height: 60vh;
    }
}

.featureImage {
    width: 100%;
    height: 100%;
}

.featureTitle {
    position: absolute;
    bottom: 0;
    margin: 20px;
    font-weight: 600;

    font-size: 1.8em;

    @include media-breakpoint-down(lg) {
        font-size: 1.5em;
    }
}

.featuredReleases {
    padding-top: 20px;
}
