.featuredImage {
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.featureTitle {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    margin: 20px;
    font-size: 1.5em;
}

.featuredReleases {
    margin: 20px;
}

@media(min-width: 700px) {
    .featuredImage {
        height: 80vh;
    }
}